table, td, th {
    border: 1.5px solid black;
}

td, th {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: large;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

#th-sex {
    width: 5%;
}

#th-spouses {
    width: 15%;
}

#th-ext {
    width: 20%;
}

.td-ext, .td-spouses {
    text-align: left;
}

#title {
    font-size: x-large;
}