table, td, th {
    border: 1.5px solid black;
}

td, th {
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: large;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

#title {
    font-size: x-large;
}