td {
    height: 150px;
    vertical-align: middle;
    margin: 0;
}

table {
    table-layout:fixed;
    word-break:break-all;
}

.nameCell {
    position: relative;
    padding: 5px;
    margin: 0 auto;
    border: 1px solid black;
    width: 20px;
    height: 50%;
    border-radius: 5px;
    color: #0A0A0A;
}

.titleCell {
    position: sticky;
    z-index: 1;
    left:0;
    vertical-align: middle;
    background-color: wheat;
}

.topP, .bottomP {
    height: 17%;
}

.bottomline {
    border-bottom: 1px solid black;
}

.parentline, .childrenline {
    width: 1px;
    margin-left: 50%;
    border-left: 1px solid black;
}

.parentline {
    margin-bottom: 0px;
}

.childrenline {
    margin-top: 0px;
}

.n-childrenline {
    margin-top: 0px;
}